# LTspice 관련 파일
ADC.raw
ADC.op.raw
ADC.log


# ====================================================================
# Vivado GUI 프로젝트 폴더 통째로 무시 (용량 폭탄 방지)
# ====================================================================
# .xpr 파일 및 내부에 생성되는 시뮬레이션 데이터(.wdb) 등을 모두 제외합니다.
sim_proj/
SAR_ADC_Z7/

# ====================================================================
# 최상위 디렉토리에 생기는 Vivado 로그 및 백업 파일 무시
# ====================================================================
*.log
*.jou
*.backup.*

.Xil/